// ***************************************
// *************** General ***************
// ***************************************


* {
    // Retire la marge et le padding par défault
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

h2 {
    margin-top: 3%;
}